body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6d167;
}

.container {
  margin-top: 70%;
}
.para {
  font-size: 20px;
  background-color: #c2ffd9;
  text-align: right;
  margin: 5px;
}

.box {
  border-radius: 5px;
  margin: 2px;
  background: #262834;
  color: #ffffff;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(60px, auto);
}
#highlight {
  background-color: blueviolet;
}
#clear {
  grid-column: 1/3;
  background-color: blueviolet;
}
#result {
  grid-column: 3/5;
  background-color: blueviolet;
  grid-row: 5;
}
